
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailVerification</title>
</head>
<body>
    <h2>Email has been sent</h2>
    <h3>please verify it</h3>

</body>
</html>
