
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
</head>
<body>
    <h2>Thank you for verifying your email please login here</h2>
    <a href="/Home/Login">Go to Login</a>

</body>
</html>
